

/* body */
$body-color: #656565
$body-font-family: 'Opensans-Regular', sans-serif
$body-font-size: 12px


/* menu */
$menu-background-color: #494d4e
$menu-header-name-color: #f5f8fa
$menu-header-name-font-size: 21px
$menu-header-name-font-family: 'Opensans-Regular', sans-serif
$menu-header-undername-color: #B9B9B9
$menu-header-undername-font-size: 13px
$menu-header-undername-font-family: 'Roboto-Regular', sans-serif

$menu-current-item-background-color: rgba(0,0,0,0.34902)
$menu-current-item-color: white
$menu-current-item-font-size: 16px
$menu-current-item-font-family: 'Roboto-Regular', sans-serif

$menu-current-item-icon-color: #689AB3 //#e27689
$menu-current-item-icon-font-size: 12px
$menu-current-item-name-color: #f5f8fa
$menu-current-item-name-font-size: 13px

$menu-item-name-color: #B9B9B9
$menu-item-name-font-size: 13px
$menu-item-name-font-family: 'Roboto-Regular', sans-serif

$menu-item-icon-color: grey
$menu-item-icon-font-size: 12px
$menu-item-icon-font-family: 'Roboto-Regular', sans-serif


/* section-intro */
$section-intro-section-name-color: #2099d5
$section-intro-section-name-family: 'Arual', sans-serif
$section-intro-section-name-font-size: 72px 
$section-intro-section-content-color: #5b5b5b
$section-intro-section-content-family: 'Myriad Pro', sans-serif
$section-intro-section-content-font-size: 20px


/* section-portfolio */
$section-portfolio-section-name-color: #95999C
$section-portfolio-section-name-family: 'Roboto-Regular', sans-serif
$section-portfolio-section-name-font-size: 38px

$section-portfolio-section-content-color: #95999C
$section-portfolio-section-content-family: 'Roboto-Regular', sans-serif
$section-portfolio-section-content-font-size: 16px

$section-portfolio-item-name-color: #95999C
$section-portfolio-item-name-family: 'Myriad Pro', sans-serif
$section-portfolio-item-name-font-size: 14px

// Item metrics
$section-portfolio-item-width: 205px
$section-portfolio-item-height: 200px
$section-portfolio-item-margin: 0px
$section-portfolio-item-border-size: 0px

/* section-about */
$section-about-section-name-color: #95999C
$section-about-section-name-family: 'Roboto-Regular', sans-serif
$section-about-section-name-font-size: 38px

$section-about-section-descr-color: #95999C
$section-about-section-descr-family: 'Roboto-Regular', sans-serif
$section-about-section-descr-font-size: 16px

$section-about-item-header-color: #95999C
$section-about-item-header-family: 'Roboto-Regular', sans-serif
$section-about-item-header-font-size: 16px

$section-about-item-text-color: #6A6D6E
$section-about-item-text-family: 'Roboto-Regular', sans-serif
$section-about-item-text-font-size: 14px


/* section-contact */
$section-contact-section-name-color: #95999C
$section-contact-section-name-family: 'Roboto-Regular', sans-serif
$section-contact-section-name-font-size: 38px

$section-contact-section-content-color: #95999C
$section-contact-section-content-family: 'Roboto-Regular', sans-serif
$section-contact-section-content-font-size: 16px